.about {
    &-container {
        font-family: $font-body;
        display: flex;
        flex-direction: row;
        width: 100%;

        @include respond(phone-small) {
            flex-direction: column;
        }
    }

    &-text {
        

        &-container {
            padding: 0 2rem;
            margin: auto;

            @include respond(tab-land) {
                margin-top: 2rem;
                padding: unset;
            }
        }
    }



    &-img {
        @include respond(tab-land) {
            max-width: 100%;
        }
    }

    &-list {
        width: 100%;
        text-align: center;
        margin-top: 2rem;

        &-item {
            font-size: 1.2rem;
            list-style: none;
        }
    }
}