.blog {

    &-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 4rem;
        margin-left: 2rem;

        @include respond(phone-small) {
            margin-left: unset;
        }
    }

    &-image {
        width: 100%;
        margin-bottom: 2rem;
        transform: translateX(-2rem);

        @include respond(phone-small) {
            width: 100vw;
        }

        &__img {
            width: 50%;
            display: block;
            margin: 0 auto;

            @include respond(phone-small) {
                width: 100%;
            }
        }
    }

    &-video {
        height: 40vh;
        width: max-content;
        margin: 0 auto;
    }

    &-content {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        padding-right: 18rem;

        @include respond(phone-small) {
            padding-right: unset;
        }

    }

    &-date {
        color: $color-grey-dark-2;
        font-size: 1.2rem;
        font-family: 400;
        margin-left: 4rem;
    }


    &__title {
        font-size: 2.2rem;
        text-transform: capitalize;
        letter-spacing: 2px;
        text-decoration: underline;
        margin-bottom: 2rem;

    }

    &_intro {
        font-family: $font-body;
        font-size: 1.6rem;
        font-weight: 500;
        margin-bottom: 2rem;
        width: 100%;
    }


    &__question {
        font-family: $font-body;
        font-size: 1.6rem;
        font-weight: 700;
        margin-bottom: 2rem;
    }

    &__answer {
        font-family: $font-body;
        font-size: 1.4rem;
        font-weight: 400;
        margin-bottom: 2rem;

    }

    &__interview {
        display: flex;
        flex-direction: column;
        position: relative;
        ;

        &-section {
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;
        }
    }

    &__date {
        color: $color-grey-dark-2;
        font-size: 1.2rem;
        font-family: 400;
        margin-left: 4rem;
        margin-bottom: 2rem;
    }

    textarea {
        resize: none;
    }

    &__preview {

        &-container {
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;

        }

        &-title {
            width: max-content;
            cursor: pointer;
        }

        &-image {
            width: 40%;
            margin-bottom: 2rem;


            @include respond(phone-small) {
                width: 100vw;
                transform: translateX(-2rem);
            }
        }

        &-img {
            width: 100%;
            display: block;
            margin: 0 auto;

            @include respond(phone-small) {
                width: 100%;
            }
        }
    }
}