.home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10rem;


@include respond(tab-land) {
    flex-direction: column;
}

@include respond(phone-small) {
    flex-direction: column;
    padding: 0;
}

&-text {
    line-height: 3rem;

    &-container {
        width: 50%;

        @include respond(tab-land) {
            width: 100%;
        }
    }
}

&-video {
    width: 360;
    height: 600;

    &__container {
        width: 100%;
    }

    @include respond(tab-land) {
        width: 100%;
    }
}
}