.home {
    display: flex;
    flex-direction: row;

    @include respond(tab-land) {
        flex-direction: column;
    }


    &-text {
        line-height: 3rem;

        &-container {
            width: 50%;
        }
    }

    &-video {
        width: 360;
        height: 600;

        &__container {
            width: 100%;
        }

        @include respond(tab-land) {
            width: 100%;
        }
    }
}