.portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;


    &-image {
        max-width: 100%;
        max-height: 100%;
    }

    &-container {
        width: calc(25% - 2rem);
        margin: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-secondary-2;
    }

    &-admin {
        position: relative;
        display: flex;
        width: 2rem;
        height: 2rem;
        top: 0rem;
        right: 0rem;
        background-color: rgba(white, 0.2);
        border-radius: 100%;
        text-align: center;
        justify-content: center;

        &__text {
            padding: unset;
            font-family: $font-body;
            font-size: 1.2rem;
            font-weight: 600;
        }
    }
}