.button {
    padding: 0.5rem 2rem;
    border-radius: 30px;
    border: 1px solid $color-grey-dark-1;
    color: $color-grey-dark-3;
    background-color: unset;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: $font-body;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    backface-visibility: hidden;

    &__container {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 0 auto;
    }

    &-delete {
        background-color: rgba(red, 0.5);

    }

    &-edit {
        margin-right: 2rem
    }

    &__deleteImage {
        position: absolute;
        color: white;
        font-size: 0.5rem;
        top: 0.2rem;
        right: 0.2rem;
        z-index: 1000;

    }

    &-admin {
        position: absolute;
        display: flex;
        width: 4rem;
        height: 4rem;
        top: 2rem;
        right: 1rem;
        color: cornsilk;
        border-radius: 100%;
        text-align: center;
        justify-content: center;
        cursor: pointer;
        z-index: 1000;
        ion-icon {
            filter: drop-shadow(0px 0px 2px #00000036);
        }
    }
}