ion-icon {
    font-size: 2.5rem;
    margin-left: 1rem;
}

.socials {

    &-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 5rem;

        &__link {
            margin-left: 1rem;
        }
    }
}