.screen {
    &-container {
        padding: 1rem 0 0 2rem;
        width: 100%;
        position: relative;

        @include respond(phone-small) {
            padding: 1rem 0 0 0;
        }
    }
}