body {
    color: $color-grey-dark-3;
}

button {
    color: $color-grey-dark-2;
    font-size: 1.8rem;
    text-decoration: unset;
    background-color: unset;
    border: unset;
    cursor: pointer;
}

p {
    font-family: $font-body;
    font-size: 1.6rem;
    font-weight: 500;
}

h2 {
    font-family: 'Urbanist', sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 2px;
}

h3 {
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: underline;
    margin-bottom: 2rem;
}

.header {
    &-title {
        font-family: 'Urbanist', sans-serif;
        font-size: 5rem;
        font-weight: 200;
        max-width: 23rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: end;

        @include respond(tab-land) {
            text-align: unset;
            margin-left: 2rem;
            margin-top: 1rem;
        }
    }

}

.screen-title {
    font-family: $font-title;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 2.4rem;
}

a {
    text-decoration: none;
    font-size: 1.8rem;
    color: #868e96;
    font-size: 1.8rem;
    text-decoration: unset;
    background-color: unset;
    border: unset;
    font-weight: 600;
    cursor: pointer;
}

.no-underline {
    text-decoration: none;
}