* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Playfair Display", serif;
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 54.5%;
  }
}

body {
  box-sizing: border-box;
  height: 100vh;
  padding: 2rem;
  background-color: #F8EDEB;
}
@media (max-width: 31.25em) {
  body {
    padding: unset;
  }
}

#root {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}
@media (max-width: 75em) {
  .wrapper {
    flex-direction: column;
  }
}

.mb-small {
  margin-bottom: 1rem;
}

.mb-medium {
  margin-bottom: 2rem;
}

.mb-large {
  margin-bottom: 3rem;
}

body {
  color: #495057;
}

button {
  color: #868e96;
  font-size: 1.8rem;
  text-decoration: unset;
  background-color: unset;
  border: unset;
  cursor: pointer;
}

p {
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
  font-weight: 500;
}

h2 {
  font-family: "Urbanist", sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 2px;
}

h3 {
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: underline;
  margin-bottom: 2rem;
}

.header-title {
  font-family: "Urbanist", sans-serif;
  font-size: 5rem;
  font-weight: 200;
  max-width: 23rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: end;
}
@media (max-width: 75em) {
  .header-title {
    text-align: unset;
    margin-left: 2rem;
    margin-top: 1rem;
  }
}

.screen-title {
  font-family: "'Urbanist', sans-serif";
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2.4rem;
}

a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #868e96;
  font-size: 1.8rem;
  text-decoration: unset;
  background-color: unset;
  border: unset;
  font-weight: 600;
  cursor: pointer;
}

.no-underline {
  text-decoration: none;
}

.nav-top {
  font-family: "Urbanist", serif;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: end;
  letter-spacing: 1px;
  justify-content: space-between;
}
.nav-top-links {
  display: flex;
  flex-direction: column;
  align-items: end;
  letter-spacing: 1px;
}
@media (max-width: 75em) {
  .nav-top-links {
    flex-direction: row;
  }
}
@media (max-width: 75em) {
  .nav-top {
    flex-direction: row;
    margin: 0 auto;
  }
}
.nav-top__link.active {
  text-decoration: underline;
}
.nav-top__link:not(:last-child) {
  margin-bottom: 1rem;
}
@media (max-width: 75em) {
  .nav-top__link {
    margin: 1rem 1rem;
  }
}
.nav-top-users {
  display: flex;
  margin-bottom: 2rem;
}
@media (max-width: 75em) {
  .nav-top-users {
    position: absolute;
    top: 3rem;
    right: 3rem;
    flex-direction: column;
  }
}
@media (max-width: 75em) {
  .nav-top-divider {
    display: none;
  }
}

.image {
  width: 100%;
  height: 100%;
}
.image-bar {
  width: 100%;
  display: flex;
}
.image-container {
  background-color: #E8E8E4;
  flex: 1;
}
.image-display {
  width: 20rem;
}
.image-frame {
  display: inline-block;
  padding: 2rem;
}
.image-display-2 {
  display: inline-block;
  width: 20rem;
}
.image-frame-2 {
  position: relative;
  display: inline-block;
}
.image-frame-2::after {
  content: " ";
  position: absolute;
  top: 1rem;
  left: 0.9rem;
  width: 18rem;
  height: 15rem;
}
.image-display-3 {
  display: inline-block;
  width: 20rem;
  box-shadow: 1px 1px 1px 1px black;
}
.image-display-4 {
  display: inline-block;
  width: 20rem;
}
.image-frame-4 {
  padding: 1.5rem;
  box-shadow: 1px 1px 1px 1px black;
}
.image-frame-4-inner {
  padding: 0.6rem;
  box-shadow: inset 1px 1px 1px 1px black;
}

.header {
  position: sticky;
  top: 0;
  width: 20rem;
  display: flex;
  flex-direction: column;
  border-right: 2px solid black;
  padding-right: 2rem;
}
@media (max-width: 75em) {
  .header {
    width: 100%;
    position: unset;
    height: 20%;
    border: unset;
  }
}
.header-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  background-position: center;
  background-size: cover;
}
@media (max-width: 75em) {
  .header-container {
    justify-content: space-between;
    flex-direction: row;
    align-items: unset;
    width: 100%;
  }
}
@media (max-width: 31.25em) {
  .header-container {
    flex-direction: column;
  }
}
.header-title__container {
  cursor: pointer;
}

.socials-wrapper {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: 5rem;
}
.socials-wrapper__link {
  margin-left: 1rem;
}
@media (max-width: 75em) {
  .socials-wrapper {
    display: none;
  }
}

.screen-container {
  padding: 1rem 0 0 2rem;
  width: 100%;
  position: relative;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #fff;
}
.screen-container::-webkit-scrollbar {
  height: 2px;
}
@media (max-width: 31.25em) {
  .screen-container {
    padding: 1rem 0 0 0;
  }
}

.slideshow {
  display: flex;
  width: 100%;
}
.slideshow-container {
  width: 100%;
  height: 40rem;
  overflow: hidden;
  padding: 2.5rem 0;
}
.slideshow-image {
  height: 35rem;
  margin: 0 auto;
  display: block;
  transition: opacity 1s ease-in-out;
  opacity: 1;
}
.slideshow-image.fade-out {
  opacity: 0;
}
.slideshow-image-container {
  min-width: 100%;
}

ion-icon {
  font-size: 2.5rem;
}

.sign-in {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
}
.sign-in-form {
  display: flex;
  flex-direction: column;
  background-color: #F8EDEB;
  min-width: 40%;
}
.sign-in-form__close {
  padding: 1rem;
  align-self: end;
  cursor: pointer;
}

.button {
  padding: 0.5rem 2rem;
  border-radius: 30px;
  border: 1px solid #adb5bd;
  color: #495057;
  background-color: unset;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  backface-visibility: hidden;
}
.button__container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
}
.button-delete {
  background-color: rgba(255, 0, 0, 0.5);
}
.button-edit {
  margin-right: 2rem;
}
.button__deleteImage {
  position: absolute;
  color: white;
  font-size: 0.5rem;
  top: 0.2rem;
  right: 0.2rem;
  z-index: 1000;
}
.button-admin {
  position: absolute;
  display: flex;
  width: 4rem;
  height: 4rem;
  top: 2rem;
  right: 1rem;
  color: cornsilk;
  border-radius: 100%;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
}
.button-admin ion-icon {
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.2117647059));
}

.blog__form {
  width: 100%;
}
.blog__form-container {
  display: flex;
  flex-direction: column;
  padding: 5rem 8rem;
  background-color: #D8E2DC;
  margin: 2rem;
  border-radius: 20px;
}
@media (max-width: 56.25em) {
  .blog__form-container {
    padding: 5rem 4rem;
  }
}
.blog__form input,
.blog__form textarea {
  padding: 1rem;
  border-radius: 10px;
  font-family: inherit;
  margin-bottom: 2rem;
}
.blog__form-content {
  display: flex;
  flex-direction: column;
}
.about-container {
  font-family: "Playfair Display", serif;
  display: flex;
  flex-direction: row;
  width: 100%;
}
@media (max-width: 31.25em) {
  .about-container {
    flex-direction: column;
  }
}
.about-text-container {
  padding: 0 4rem;
  margin: auto;
}
@media (max-width: 75em) {
  .about-text-container {
    margin-top: 2rem;
    padding: 0 2rem;
  }
}
@media (max-width: 75em) {
  .about-img {
    max-width: 100%;
  }
}
.about-list {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}
.about-list-item {
  font-size: 1.5rem;
  list-style: none;
}

.home {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10rem;
}
@media (max-width: 75em) {
  .home {
    flex-direction: column;
  }
}
@media (max-width: 31.25em) {
  .home {
    flex-direction: column;
    padding: 0;
  }
}
.home-text {
  line-height: 3rem;
}
.home-text-container {
  width: 50%;
  padding: 2rem;
}
@media (max-width: 75em) {
  .home-text-container {
    width: 100%;
  }
}
.home-video {
  width: 360;
  height: 600;
}
.home-video__container {
  width: 50%;
  display: flex;
  justify-content: center;
}
@media (max-width: 75em) {
  .home-video__container {
    width: 100%;
  }
}

.portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.portfolio-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: filter 0.3s;
}
.portfolio-container {
  width: calc(33% - 2rem);
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ECE4DB;
  cursor: pointer;
}
@media (max-width: 31.25em) {
  .portfolio-container {
    width: 100%;
    margin: unset;
    margin-bottom: 2rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  font-family: "Playfair Display", serif;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 4rem 10rem;
}
@media (max-width: 31.25em) {
  .form {
    padding: 4rem 2rem;
  }
}
.form-sent {
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: 5rem;
}
.form-bg {
  min-width: 100%;
  height: 100%;
  z-index: -100;
  position: absolute;
  top: 0;
}
.form-container {
  display: flex;
  width: 80%;
  width: 50%;
  height: 100%;
  margin: 2rem auto;
  border-radius: 2px;
  background-color: rgba(254, 197, 187, 0.5);
  position: relative;
  overflow: hidden;
}
@media (max-width: 31.25em) {
  .form-container {
    justify-content: center;
    width: unset;
  }
}
.form-image {
  width: 60%;
  margin: 2rem auto;
}
.form ion-icon {
  font-size: 1.8rem;
}
.form input::-moz-placeholder, .form textarea::-moz-placeholder {
  font-family: "Playfair Display", serif;
  color: #495057;
  text-transform: capitalize;
}
.form input::placeholder,
.form textarea::placeholder {
  font-family: "Playfair Display", serif;
  color: #495057;
  text-transform: capitalize;
}
.form-info {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  background: rgba(238, 238, 238, 0.1607843137);
  padding: 1rem;
}
.form-link {
  color: #495057;
  margin-left: 2rem;
  font-size: 1.8rem;
  text-decoration: none;
}
.form-input {
  padding: 1rem 1.5rem;
  border-radius: 2px;
  border: unset;
  font-family: "Playfair Display", serif;
  color: #495057;
  background-color: rgba(248, 237, 235, 0.5);
  width: 100%;
}
.form-textarea {
  padding: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  border: unset;
  font-family: "Playfair Display", serif;
  color: #495057;
  height: 20rem;
  background-color: rgba(248, 237, 235, 0.5);
  width: 100%;
}
.form-submit {
  display: flex;
  justify-content: space-around;
}
.form-blog-input {
  background-color: unset;
  border: unset;
}
.form-upload {
  margin: 0 auto;
  width: 50vw;
  background-color: rgba(254, 197, 187, 0.5);
}
@media (max-width: 31.25em) {
  .form-upload {
    justify-content: center;
    width: unset;
  }
}
.form-error {
  color: red;
  font-size: 1rem;
}
.form-admin__image {
  height: 100%;
  display: flex;
}
.form-admin__image-preview {
  height: 100%;
}

.imageView {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90vh;
}
@media (max-width: 31.25em) {
  .imageView {
    flex-direction: column;
  }
}
.imageView__image {
  max-width: 40%;
}
@media (max-width: 31.25em) {
  .imageView__image {
    max-width: 100%;
    margin-bottom: 2rem;
  }
}
.imageView__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  width: 50%;
  min-height: 100%;
  margin-right: auto;
  margin-left: 5rem;
  position: absolute;
  right: 2rem;
  top: 0;
}
@media (max-width: 31.25em) {
  .imageView__content {
    min-width: 100%;
    border: unset;
    margin: unset;
    padding: 0 2rem;
    position: unset;
  }
}
.imageView__title {
  text-transform: capitalize;
}
.imageView__body {
  margin-bottom: 2rem;
}
.imageView__price {
  font-size: 1.5rem;
  color: #8a8a8a;
}
.imageView__preview {
  display: flex;
  flex-direction: row;
  height: 17rem;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px black solid;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #fff;
}
.imageView__preview::-webkit-scrollbar {
  height: 2px;
}
.imageView__thumbnail {
  width: 100%;
}
.imageView__thumbnail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.imageView__thumbnail-container:not(:last-child) {
  margin-right: 1rem;
}
.imageView__edit {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.imageView__edit input,
.imageView__edit textarea {
  background-color: unset;
}

.blog-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 4rem;
}
@media (max-width: 31.25em) {
  .blog-container {
    margin-left: unset;
  }
}
.blog__text {
  font-style: italic;
}
.blog__text:not(:last-child) {
  margin-bottom: 1rem;
}
.blog-image {
  height: 50rem;
  margin-bottom: 2rem;
}
@media (max-width: 31.25em) {
  .blog-image {
    width: 100%;
    height: unset;
  }
}
.blog-image__img {
  height: 100%;
  display: block;
  margin: 0 auto;
}
@media (max-width: 31.25em) {
  .blog-image__img {
    width: 100%;
    height: unset;
  }
}
.blog-video {
  height: 30rem;
  width: 45rem;
  margin: auto;
}
@media (max-width: 31.25em) {
  .blog-video {
    width: 100%;
    transform: translateX(-1rem);
    margin-bottom: 2rem;
  }
}
.blog-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  padding-right: 18rem;
  padding: 0 2rem;
}
@media (max-width: 31.25em) {
  .blog-content {
    padding-right: unset;
  }
}
.blog-date {
  color: #868e96;
  font-size: 1.4rem;
  font-family: 400;
}
.blog__title {
  font-size: 2.2rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  text-decoration: underline;
  margin-bottom: 0.5rem;
}
.blog_intro {
  font-family: "Playfair Display", serif;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 2rem;
  width: 100%;
}
.blog__question {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  margin-bottom: 2rem;
}
.blog__answer {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin-bottom: 2rem;
}
.blog__interview {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 3rem;
}
@media (max-width: 31.25em) {
  .blog__interview {
    transform: translateX(-1rem);
  }
}
.blog__interview-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.blog__interview-section .ionicon {
  stroke: green;
}
.blog__date {
  color: #868e96;
  font-size: 1.4rem;
  font-family: 400;
}
.blog textarea {
  resize: none;
}
.blog__preview-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  height: 50rem;
}
@media (max-width: 31.25em) {
  .blog__preview-container {
    flex-direction: column;
    height: unset;
  }
}
.blog__preview-content {
  width: 50%;
  margin: auto;
  text-align: center;
}
@media (max-width: 31.25em) {
  .blog__preview-content {
    width: 100%;
    margin-left: unset;
    transform: translateX(-1rem);
  }
}
.blog__preview-title {
  width: 100%;
  cursor: pointer;
  margin: 2rem auto;
}
.blog__preview-image {
  width: 40%;
  margin: auto;
  max-height: 41rem;
  overflow: clip;
  justify-content: center;
  align-items: center;
  display: flex;
}
@media (max-width: 31.25em) {
  .blog__preview-image {
    width: 100%;
  }
}
.blog__preview-img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
@media (max-width: 31.25em) {
  .blog__preview-img {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */